/* https://colorhunt.co/palette/0a26471442722052952c74b3
#0A2647
#144272
#205295
#2C74B3
*/

/* Global styles 
------------------------------------*/
body {
    font-family: 'Roboto Slab', serif;
}
h1, h2 {
    font-family: 'Roboto Slab', serif;
    color: grey;
}

/* Header & Footer 
------------------------------------*/
header {
    background: #0A2647;
    color: grey;
    font-family: 'Bitter', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
}

footer {
    background: #2C74B3;
    color: whitesmoke;
    font-family: 'Bitter', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
}

/* Work Experience
------------------------------------*/
#Work {
    background:#144272 ;
}


/* Education
------------------------------------*/
#Education {
    background: #205295;
}
