/* https://colorhunt.co/palette/1a374d4068826998abb1d0e0
#1A374D
#406882
#6998AB
#B1D0E0
*/

/* Global styles 
------------------------------------*/
body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 2.8em;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 1.7em;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

#copyright {
    color: black;
    font-family: 'Roboto Slab', serif;
}

/* Header  
------------------------------------*/
header {
    background: #1A374D;
    color: rgb(172, 172, 172);
    font-family: 'Golos Text', sans-serif;
}

/* Education
------------------------------------*/
#Education {
    background: #6998AB;
    font-family: 'Roboto Slab', serif;   
}

/* Awards and Relevant Coursework
------------------------------------*/
#Work {
    background:#406882;
    font-family: 'Roboto Slab', serif;
}


/* Footer 
------------------------------------*/
footer {
    background: #B1D0E0;
    font-family: 'Roboto Slab', serif;
}
